@font-face {
  font-family: pridi;
  src: url(../fonts/Pridi-ExtraLight.ttf),
  url(../fonts/Pridi-Light.ttf),
  url(../fonts/Pridi-Regular.ttf),
  url(../fonts/Pridi-Medium.ttf),
  url(../fonts/Pridi-SemiBold.ttf),
  url(../fonts/Pridi-Bold.ttf)
}
@font-face {
  font-family: sarabun;
  src: url(../fonts/Sarabun-ThinItalic.ttf);
  src: url(../fonts/Sarabun-Thin.ttf);
  src: url(../fonts/Sarabun-SemiBoldItalic.ttf);
  src: url(../fonts/Sarabun-SemiBold.ttf);
  src: url(../fonts/Sarabun-Regular.ttf);
  src: url(../fonts/Sarabun-MediumItalic.ttf);
  src: url(../fonts/Sarabun-Medium.ttf);
  src: url(../fonts/Sarabun-LightItalic.ttf);
  src: url(../fonts/Sarabun-Light.ttf);
  src: url(../fonts/Sarabun-Bold.ttf);
  src: url(../fonts/Sarabun-BoldItalic.ttf);
  src: url(../fonts/Sarabun-ExtraLight.ttf);
}

:root {
  --primary: #642D8E;
  --secondary: #F2995C;
  --tertiary: #FF518D;
  --quaternary: #30B2FD;
}

html {
  scroll-behavior: smooth;
}

ul li {
  list-style: none;
}

body {
  font-family: 'pridi','sarabun',Arial;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.65;
  position: relative;
  background-color: #F0F1F2;
}

.navbar-brand img {
  height: 65px;
}

a.back-to-top {
  width: 2.3rem;
  height: 2.3rem;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
  background-color: var(--primary);
  border-radius: 0.4rem;
  opacity: 0.7;
}
a.back-to-top img {
  width: 1.4rem;
}


.container-main {
  max-width: 1150px!important;
}
.rounded-3 {
  border-radius: 0.45rem!important;
}

.slide img {
  width: 100%;
  min-height: 200px;
  object-fit: cover;
}

#image_list img {
  border-radius: 0.45rem!important;
  cursor: pointer;
}


.btn {
  font-weight: 500;
}

.btn-secondary,
.btn-warning {
  color: #fff;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 6rem 0;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100000; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.712); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.637); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 90%;
  max-width: 900px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 25px;
  color: #f1f1f1;
  font-size: 42px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

@media (max-width:500px) {
  .container-main {
    padding: 13px 17px;
  }
  .navbar-brand img {
    height: 55px!important;
  }
  .header {
    padding: 4.8rem 0;
  }
}
@media (max-width:400px) {
  .container-main {
    padding: 10px 13px;
  }
  .navbar-brand img {
    height: 1.4rem;
  }
  a.back-to-top {
    bottom: 1.4rem;
    right: 1.4rem;
  }
}



